.main {
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(60, 60, 60, 0.647);
}

.main .sec1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1vw;
    position: relative;
}

.sec1 .home {
    height: 50vh;
    width: 40vw;
    position: relative;
}

.home .home-img {
    height: 80%;
    width: 45%;
}

.home-img img {
    height: 100%;
    width: 100%;
    border-radius: 17px;
    object-fit: cover;
}

.home .home-text {
    height: 80%;
    width: 45%;
    position: relative;
}

.home-text h1 {
    font-size: 3vw;
    margin-top: 3vw;
}

.home-text p {
    font-size: 2vw;
}

@media (max-width:800px) {
    .home-img {
        display: none;
    }

    .home .home-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }

    .home-text h1 {
        font-size: 5vw;
    }

    .home-text p {
        font-size: 3vw;
    }
}

/* <!-- section one portfolio --> */

.sec1 .portfolio-div {
    height: 50vh;
    width: 50vw;
    flex-direction: column;
}

/* raning text div */
.portfolio-div .raning-text {
    height: 13%;
    width: 95%;

    /* background: #a3a316; */
}

/* main portfolio div */
.portfolio-div .portfolio {
    height: 80%;
    width: 95%;
    position: relative;
}

.portfolio>div {
    height: 75%;
    width: 100%;
}

.portfolio>div .portfolio-card {
    height: 90%;
    width: 30%;
    background-color: #323232;
    border: 1px solid #E8E8E8;
}

.portfolio-card>button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    flex-direction: column;
}

.portfolio-card>button>i {
    margin: 1vw;
    font-size: 5vw;
}

.portfolio-card>button>p {
    margin: 1vw;
    font-size: 1.2vw;
    width: 90%;
}



@media (max-width:600px) {
    .sec1 {
        flex-direction: column;
        gap: 2vh;
    }

    .sec1 .home {
        height: 40vh;
        width: 90vw;
    }

    .home .home-img {
        height: 80%;
        width: 45%;
        display: block;
    }

    .home .home-text {
        height: 80%;
        width: 45%;
    }

    .sec1 .portfolio-div {
        width: 90vw;
    }

    .portfolio-card>button>i {
        font-size: 6vh;
    }

    .portfolio-card>button>p {
        font-size: 1.5vh;
    }
}


/* section two  */

.main .sec2 {
    margin: 1vw;
    position: relative;

}

.sec2>div {
    flex-direction: column;
    position: relative;

}

/* About */
.sec2 .about {
    height: 40vh;
    width: 25vw;
}

.about>div {
    height: 70%;
    width: 90%;
}

.about div img {
    height: 100%;
    width: 100%;
    object-fit: fill
}


/* section two  profiles  */
.sec2 .social {
    height: 40vh;
    width: 35vw;
}

.social .social-icons {
    height: 60%;
    width: 90%;
    gap: 2%;
}


.social-icons .social-icons-card {
    height: 90%;
    width: 30%;
    background-color: #323232;
    border: 1px solid #E8E8E8;
}

.social-icons-card>a {
    flex-direction: column;
}

.social-icons-card>a>i {
    margin: 1vw;
    font-size: 5vw;
}

@media (max-width:800px) {
    .social-icons-card>a>i {
        font-size: 5vh;
    }

}




/* section two resume */
.sec2 .cv {
    height: 40vh;
    width: 25vw;
    cursor: pointer;
}

.cv .cv-img {
    height: 70%;
    width: 90%;
}

.cv-img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.cv h4:hover {
    padding: 3px;
    border: 1px solid white;
    color: #000;
    background-color: #8a8a8a;
}

@media (max-width:800px) {
    #insta {
        display: none;
    }

    .social-icons .social-icons-card {
        width: 40%;
    }

    .cv h4 {
        margin-top: 5px;
        padding: 3px;
        border: 1px solid white;
        color: #000;
        background-color: #8a8a8a;
    }
}

@media (max-width:600px) {
    .main .sec2 {
        flex-direction: column;
        gap: 2vh;
    }

    .sec2 .about {
        width: 90vw;
    }

    .sec2 .social {
        width: 90vw;
    }

    #insta {
        display: flex;
    }

    .social-icons .social-icons-card {
        width: 30%;
    }

    .sec2 .cv {
        width: 90vw;
    }


}

/* section three  */
.main .sec3 {
    margin: 1vw;

}

.sec3 .services {
    height: 50vh;
    width: 45vw;
    flex-direction: column;
    position: relative;
}

.services .service {
    height: 70%;
    width: 90%;
}

.service-card {
    width: 40%;
    height: 90%;
    flex-direction: column;
    background-color: #323232;
    border: 1px solid #E8E8E8;
    font-size: 1.2vw;
}

@media (max-width:800px) {
    .service-card {
        /* position: relative; */
        width: 80%;
        height: 90%;
        font-size: 2vh;
    }

    #wordpress-card {
        display: none;
    }
}



/* section three part two */
.sec3 .contact-container {
    height: 50vh;
    width: 45vw;
    position: relative;
}

.contact {
    height: 60%;
    width: 90%;
    flex-direction: column;
    background: #323232;
    box-shadow: 0 0 5px rgb(92, 92, 92);
}

.contact h5 {
    font-size: 2vw;
}

.contact p {
    width: 80%;
    text-align: center;

}

.contact button {
    margin: 0.5vw;
    height: 15%;
    width: 20%;
    font-size: 1.2vw;
    color: #524f4f;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #E8E8E8;
    cursor: pointer;
}

.contact button:hover {
    color: #000;
    background-color: #8a8a8a;
}

@media (max-width:800px) {
    .contact {
        text-align: center;
    }
}

@media (max-width:600px) {
    .sec3 {
        flex-direction: column;
        gap: 2vh;
    }

    .sec3 .services {
        width: 90vw;
    }

    .sec3 .contact-container {
        width: 90vw;
    }
}