@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Shadows Into Light Two', cursive; */
    font-family: 'Roboto Slab', serif;
}

html,
body {
    height: 100%;

    background: #8f8c8c;
    padding: 1vw 1vw;
}

/* utilituy class  */
.dfcs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dfcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #8a8a8a;
}

.d-non {
    display: none;
    transition: all 0.5s;
}

button {
    outline: none;
    border: none;
    background: transparent;

}

.main h4 {
    align-self: flex-start;
    margin-left: 1.5vw;
    font-size: 2vw;
    color: #fff;
}

.main h3 {
    align-self: flex-start;
    margin-left: 1.5vw;
    font-size: 1vw;
    color: #8a8a8a;
}

@media (max-width:600px) {
    .main h3 {
        align-self: center;
        margin-top: 1vh;
        font-size: 1.5vh;
    }

    .main h4 {
        align-self: center;
        font-size: 2vh;
    }

    #portfolio-h4 {
        text-align: center;
    }

}

.sec1>div,
.sec2>div,
.sec3>div {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* all div animetion */
.bordr {
    box-sizing: border-box;
    border-radius: 17px;
    transition: all 0.5s;
}

.bordr:hover {
    transform: scale(1.05);
}

.bordr:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

@media (max-width:800px) {
    .bordr:hover {
        transform: scale(1);
    }

    .bordr:active {
        transform: scale(1) rotateZ(0);
    }
}

/* for go to button  */
.goto {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: 3vw;
    color: #bdb3b3;
    cursor: pointer;
    padding: 0.5vw;
}

.goto:hover {
    background: #bdb3b3;
    color: #000000;
}

@media (max-width:800px) {
    .goto {
        font-size: 5vh;
    }

}


.subpage-div {
    height: 10%;
    font-size: 2vw;
}

/* on click pages  */
.pages {
    height: calc(100vh - 2vw);
    overflow: auto;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.goto-home {
    position: absolute;
    top: 10%;
    right: 5%;
}

/* nsv bar  */
.nav-div {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 9;

}

.nav-div .nav-logo {
    height: 3vw;
    width: 3vw;
}

.nav-logo>button {
    height: 100%;

}

.nav-logo>button>i {
    font-size: 3vw;
}

@media (max-width:700px) {
    .nav-logo>button>i {
        font-size: 3vh;
    }
}

.panel {
    position: absolute;
    top: -10vh;
    left: -10vw;
    height: 100vh;
    width: 40vw;
    z-index: 999;
    background-color: #414345;
    padding: 10vh 0 0 10vw;
    /* flex-direction: column; */

}

#close-nav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-self: flex-end;
    border: none;
    background-color: #fff;
}

#close-nav i {
    font-size: 3vw;


}

.panel-circle {
    font-size: 4vw;
    height: 50px;
    width: 80%;
    margin: 2vw 0;
    text-align: center;
}

.panel-circle:hover {
    border-bottom: 1.5px solid black;
}

/* page title section */

.page-title {
    height: 10vh;

    /* background-color: #000000; */
}

.page-title p {
    margin: 5vh;
    font-size: 5vw;


}

/* pages contact  */
.page-end-contacts {
    height: 40vh;
}

/*   footer section  */
.footer {
    height: 12vh;
    background: #000;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.footer .img {
    width: 10%;
}

.footer p {
    width: 70%;
    text-align: center;
}

.footer .goto-top button>a {
    cursor: pointer;

}

.pages-to-Contact {
    cursor: pointer;
}