@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Shadows Into Light Two', cursive; */
    font-family: 'Roboto Slab', serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #E3E3E3;
    padding: 1vw 1vw;
}

/* utilituy class  */
.dfcs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dfcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.text-color-dard {
    color: black;
}

.d-non {
    display: none;
}


.sec1>div,
.sec2>div,
.sec3>div {
    background: #F0F2F0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000C40, #F0F2F0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* all div animetion */
.bordr {
    box-sizing: border-box;
    border-radius: 17px;
    transition: all 0.5s;
}

.bordr:hover {
    transform: scale(1.05);
}

.bordr:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

/* for go to button  */
.goto {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: 3vw;
    color: #000;
    cursor: pointer;
    padding: 0.5vw;
}

.goto:hover {
    background: #000;
    color: #E3E3E3;
}


.subpage-div {
    height: 10%;
    font-size: 2vw;
    /* background: #a80b0b; */
}

/* on click pages  */
.pages {
    height: calc(100vh - 2vw);
    overflow: auto;
    border: 2px solid black;
    border-radius: 10px;
    background: #212121;
    position: relative;
}

.goto-home {
    position: absolute;
    top: 10%;
    right: 5%;
}

.nav-div {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 9;

}

.nav-div .nav-logo {
    height: 3vw;
    width: 3vw;
}

.nav-logo>button {
    height: 100%;
    width: 100%;
}

.nav-logo>button>i {
    font-size: 2vw;
}

.panel {
    margin-top: 2vw;
}

.panel-circle {
    height: 4vw;
    width: 4vw;
    margin: 0.8vw;
    border-radius: 50%;
    background: #d6d5d5;
}

.panel-circle i {
    font-size: 2vw;
}